<div class="modal-header">
  <h4 class="modal-title" id="entry-modal">
    {{ action === ActionType.ADD ? "Add Entry" : "Edit Entry" }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="entryForm">
    <!-- amount -->
    <div class="form-group mb-3">
      <label for="inputAmount" class="">Amount:</label>
      <input
        type="number"
        class="form-control"
        id="inputAmount"
        placeholder="00.00"
        formControlName="amount"
      />
    </div>
    <!-- description -->
    <div class="form-group mb-3">
      <label for="inputDescription">Description:</label>
      <input
        type="text"
        class="form-control"
        id="inputDescription"
        placeholder="Description"
        formControlName="description"
      />
    </div>
    <!-- date -->
    <div class="form-group mb-3">
      <label for="inputDate">Date:</label>
      <div class="input-group">
        <input
          class="form-control"
          type="date"
          name="inputDate"
          formControlName="date"
        />
      </div>
    </div>
    <!-- type -->
    <div class="form-group mb-3">
      <label for="inputType">Type:</label>
      <select id="inputType" class="form-control" formControlName="type">
        <option selected></option>
        <option [value]="EntryType.INCOMING">Incoming</option>
        <option [value]="EntryType.OUTGOING">Outgoing</option>
      </select>
    </div>
    <!-- settled -->
    <div class="form-group mb-3">
      <label for="settled">Settled:</label>
      <select id="settled" class="form-control" formControlName="settled">
        <option selected></option>
        <option [value]="StatusType.SETTLED">Settled</option>
        <option [value]="StatusType.UNSETTLED">Unsettled</option>
      </select>
    </div>
    <!-- Labels -->
    <div class="form-group mb-3">
      <div class="form-check">
        <!-- <input class="form-check-input" type="checkbox" id="gridCheck" /> -->
        <label class="form-check-label" for="gridCheck">Labels</label>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" *ngIf="this.entryForm.value.id" class="btn btn-danger" (click)="delete()">Delete</button>
  <button type="button" [disabled]="!this.entryForm.valid" class="btn btn-primary" (click)="save()">Save</button>
</div>
