<div class="modal-header">
  <h4 class="modal-title" id="entry-modal">
    {{ action === ActionType.ADD ? "Add Entry" : "Edit Entry" }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="entryForm">
    <div class="row">
      <!-- amount -->
      <div class="form-group mb-3 col-6">
        <label class="form-label" for="inputAmount"><small>Amount:</small></label>
        <input
          type="number"
          class="form-control"
          id="inputAmount"
          placeholder="00.00"
          formControlName="amount"
        />
      </div>

      <!-- type -->
      <div class="form-group mb-3 col-6">
        <label class="form-label" for="inputType"><small>Type:</small></label>
        <select id="inputType" class="form-control" formControlName="type">
          <option selected></option>
          <option [value]="EntryType.INCOMING">Incoming</option>
          <option [value]="EntryType.OUTGOING">Outgoing</option>
        </select>
      </div>
    </div>

    <!-- description -->
    <div class="form-group mb-3">
      <label class="form-label" for="inputDescription"><small>Description:</small></label>
      <input
        type="text"
        class="form-control"
        id="inputDescription"
        placeholder="Description"
        formControlName="description"
      />
    </div>

    <div class="row">
      <!-- date -->
      <div class="form-group mb-3 col-6">
        <label class="form-label" for="inputDate"><small>Date:</small></label>
        <div class="input-group">
          <input
            class="form-control"
            type="date"
            name="inputDate"
            formControlName="date"
          />
        </div>
      </div>
      <!-- settled -->
      <div class="form-group mb-3 col-6">
        <label for="settled" class="form-label"><small>Settled:</small></label>
        <select id="settled" class="form-select" formControlName="settled">
          <option selected></option>
          <option [value]="StatusType.SETTLED">Settled</option>
          <option [value]="StatusType.UNSETTLED">Unsettled</option>
        </select>
      </div>
    </div>

    <!-- labels -->
    <div class="form-group">
      <label class="form-label" for="labels"><small>Labels:</small></label>
      <div name="labels">
        <span class="m-1 badge bg-primary">Primary</span>
        <span class="m-1 badge bg-warning text-dark">Warning</span>
        <span class="m-1 badge bg-secondary">Secondary</span>
        <span class="m-1 badge bg-success">Success</span>
        <span class="m-1 badge bg-success">Success</span>
        <span class="m-1 badge bg-danger">Danger</span>
        <span class="m-1 badge bg-danger">Danger</span>
        <span class="m-1 badge bg-dark">Dark</span>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button
    type="button"
    *ngIf="this.entryForm.value.id"
    class="btn btn-danger"
    (click)="delete()"
  >
    Delete
  </button>
  <button
    type="button"
    [disabled]="!this.entryForm.valid"
    class="btn btn-primary"
    (click)="save()"
  >
    Save
  </button>
</div>
