<div class="modal-header">
  <h4 class="modal-title" id="entry-modal">
    {{ action === ActionType.ADD ? "Add Entry" : "Edit Entry" }}
  </h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  ></button>
</div>
<div class="modal-body">
  <form [formGroup]="entryForm" (ngSubmit)="save()" novalidate>
    <div class="row">
      <!-- amount -->
      <div class="form-group mb-3 col-6">
        <label class="form-label" for="inputAmount"
          ><small>Amount:</small></label
        >
        <input
          required
          type="number"
          class="form-control has-validation"
          id="inputAmount"
          placeholder="00.00"
          formControlName="amount"
          [class.is-invalid]="
            entryForm.controls['amount'].invalid &&
            entryForm.controls['amount'].touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="
            entryForm.controls['amount'].invalid &&
            entryForm.controls['amount'].touched
          "
        >
          Amount is required
        </div>
      </div>

      <!-- type -->
      <div class="form-group mb-3 col-6">
        <label class="form-label" for="inputType"><small>Type:</small></label>
        <select
          id="inputType"
          class="form-control"
          formControlName="type"
          [class.is-invalid]="
            entryForm.controls['type'].invalid &&
            entryForm.controls['type'].touched
          "
        >
          <option selected></option>
          <option [value]="EntryType.INCOMING">Incoming</option>
          <option [value]="EntryType.OUTGOING">Outgoing</option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            entryForm.controls['type'].invalid &&
            entryForm.controls['type'].touched
          "
        >
          Type is required
        </div>
      </div>
    </div>

    <!-- description -->
    <div class="form-group mb-3">
      <label class="form-label" for="inputDescription"
        ><small>Description:</small></label
      >
      <input
        type="text"
        class="form-control"
        id="inputDescription"
        placeholder="Description"
        formControlName="description"
        [class.is-invalid]="
          entryForm.controls['description'].invalid &&
          entryForm.controls['description'].touched
        "
      />
      <div
        class="invalid-feedback"
        *ngIf="
          entryForm.controls['description'].invalid &&
          entryForm.controls['description'].touched
        "
      >
        Description is required
      </div>
    </div>

    <div class="row">
      <!-- date -->
      <div class="form-group mb-3 col-6">
        <label class="form-label" for="inputDate"><small>Date:</small></label>
        <input
          class="form-control"
          type="date"
          name="inputDate"
          formControlName="date"
          [class.is-invalid]="
            entryForm.controls['date'].invalid &&
            entryForm.controls['date'].touched
          "
        />
        <div
          class="invalid-feedback"
          *ngIf="
            entryForm.controls['date'].invalid &&
            entryForm.controls['date'].touched
          "
        >
          Date is required
        </div>
      </div>

      <!-- settled -->
      <div class="form-group mb-3 col-6">
        <label for="settled" class="form-label"><small>Settled:</small></label>
        <select
          id="settled"
          class="form-select"
          formControlName="settled"
          [class.is-invalid]="
            entryForm.controls['settled'].invalid &&
            entryForm.controls['settled'].touched
          "
        >
          <option selected></option>
          <option [value]="StatusType.SETTLED">Settled</option>
          <option [value]="StatusType.UNSETTLED">Unsettled</option>
        </select>
        <div
          class="invalid-feedback"
          *ngIf="
            entryForm.controls['settled'].invalid &&
            entryForm.controls['settled'].touched
          "
        >
          Settled is required
        </div>
      </div>
    </div>

    <!-- labels -->
    <div class="form-group">
      <label class="form-label" for="labels"><small>Labels:</small></label>
      <div name="labels">
        <span class="m-1 badge bg-primary">Primary</span>
        <span class="m-1 badge bg-warning text-dark">Warning</span>

        <button class="btn btn-sm btn-outline-light" type="button" (click)="addBadge()">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>

      <!-- add-label -->
      <div class="add-label">
        <label class="form-label" for="add-labels"><small>Choose or create a new label:</small></label>
        <div class="add-labels p-2">
          <span class="m-1 badge bg-primary">Primary</span>
          <span class="m-1 badge bg-warning text-dark">Warning</span>
          <span class="m-1 badge bg-secondary">Secondary</span>
          <span class="m-1 badge bg-success">Success</span>
          <span class="m-1 badge bg-danger">Danger</span>
          <span class="m-1 badge bg-dark">Dark</span>
          <span class="m-1 badge bg-primary">Primary</span>
          <span class="m-1 badge bg-warning text-dark">Warning</span>
          <span class="m-1 badge bg-secondary">Secondary</span>
          <span class="m-1 badge bg-success">Success</span>
          <span class="m-1 badge bg-danger">Danger</span>
          <span class="m-1 badge bg-dark">Dark</span>
          <span class="m-1 badge bg-primary">Primary</span>
          <span class="m-1 badge bg-warning text-dark">Warning</span>
          <span class="m-1 badge bg-secondary">Secondary</span>
          <span class="m-1 badge bg-success">Success</span>
        </div>
      </div>
<!--
      1. Arrumar componente de label
      2. Carregar labels (componente) a partir do form-array (ver como adicionar dinamicamente)
      3. Criar compomente add-labels (precisará ter a própria collection)
      4. Drag and drop para excluir o label
 -->

      <!-- <div id="badgeContainer">
        <span class="badge badge-primary" *ngFor="let badge of badges">{{ badge }}</span>
      </div> -->

    </div>
    <div class="modal-footer">
      <button
        type="button"
        *ngIf="this.entryForm.value.id"
        class="btn btn-danger"
        (click)="delete()"
      >
        Delete
      </button>
      <button
        type="submit"
        [disabled]="this.entryForm.invalid"
        class="btn btn-primary"
      >
        Save
      </button>
    </div>
  </form>
</div>
