<div class="d-flex align-items-center justify-content-center">
  <p class="fs-1 fw-bold">{{ monthName }}</p>
</div>

<div class="actions">
  <div class="d-flex justify-content-between">
    <div>
      <button class="btn-sm btn btn-primary small" (click)="add()">Add+</button>
    </div>
    <h3>IN: R$ {{ totalIncomming }}</h3>
    <h3>Out: R$ {{ totalOutgoing }}</h3>
    <h3>Amount: R$ {{ amount }}</h3>
  </div>

  <div>
    <app-entry
      *ngFor="let entry of entries"
      [entry]="entry"
      (entryClicked)="update($event)"
    ></app-entry>
  </div>
</div>
