<div class="d-flex align-items-center justify-content-center">
  <p class="fs-1 fw-bold">{{ monthName }}</p>
</div>

<div class="entries">
  <app-entry *ngFor="let entry of entries" [entry]="entry"></app-entry>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="entry-modal">
      {{ action === ActionType.SAVE ? "New Entry" : "Update Entry" }}
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary bi bi-calendar3"
            (click)="dp.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<div class="">
  <button
    class="btn btn-lg btn-outline-primary mt-3 w-100"
    (click)="open(content)"
  >
    Add+
  </button>
</div>
