<div class="d-flex align-items-center justify-content-center">
  <p class="fs-1 fw-bold">{{ monthName }}</p>
</div>

<div class="actions">
  <div class="d-flex justify-content-between">
    <button class="btn-sm btn btn-primary small" (click)="add()">Add+</button>

    <!-- TODO: componente amounts -->

    <!-- <div class="amout-info"> -->
    <div class="d-flex">
      <div class="d-flex flex-column">
        <p class="small">
          IN: R$ {{ totalIncomming | currency : "BRL" : "symbol" : "1.2-2" }}
        </p>

        <p class="small">
          Out: R$ {{ totalOutgoing | currency : "BRL" : "symbol" : "1.2-2" }}
        </p>
      </div>

      <p class="small">
        Amount: R$ {{ amount | currency : "BRL" : "symbol" : "1.2-2" }}
      </p>
    </div>
    <!-- </div> -->
  </div>

  <div>
    <app-entry
      *ngFor="let entry of entries"
      [entry]="entry"
      (entryClicked)="update($event)"
    ></app-entry>
  </div>
</div>
