.side-nav-content {
  width: 228px;
  height: calc(100vh - 4rem);
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(34, 34, 34, 1);
  margin-top: 1px;
  left: 0rem;
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 250ms ease-in;

  .nav-list {
    list-style: none;
    padding: 0%;
    padding-top: 10px;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 10px;

    .nav-list-item {
      display: flex;
      align-items: center;
      height: 50px;
      cursor: pointer;

      .ng-fa-icon {
        font-size: 20px;
        height: 25px;
        width: 25px;
        margin-right: 15px;
        margin-left: 10px;
        text-align: center;
        line-height: 25px;
      }

      span {
        width: 120px;
        text-transform: capitalize;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.side-nav-content-open {
  width: 62px;
}

.active {
  background-color: rgb(0, 87, 82);
  border-radius: 10px;
}

.nav-list-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.nav-list:not(.nav-list-open) {
  overflow-x: hidden;
}
