<nav
  class="side-nav-content d-flex flex-column "
  [ngClass]="{ 'side-nav-content-open': sideNavCollapsed }"
>
  <ul class="nav-list">
    <li
      class="nav-list-item"
      *ngFor="let item of navItems"
      [routerLink]="[item.routeLink]"
      routerLinkActive="active"
    >
      <fa-icon [icon]="item.icon"></fa-icon>
      <span>
        <a>{{ item.name }}</a>
      </span>
    </li>
  </ul>
  <ul class="nav-list mt-auto">
    <div class="side-nav-button px-2 me-3 text-light" (click)="sideNavToggle()">
      <fa-icon *ngIf="sideNavCollapsed" [icon]="faAnglesRight"></fa-icon>
      <fa-icon *ngIf="!sideNavCollapsed" [icon]="faAnglesLeft"></fa-icon>
    </div>
  </ul>
</nav>
