nav {
  height: 6vh;
}

.side-nav-button {
  font-size: 1.5rem;
  cursor: pointer;
}

.side-nav-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.profile-logo {
  margin-left: auto;
}
