.entry {
  margin-top: 5px;
  padding: 10px;
  /* Cor branca com 70% de transparência */
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #a3a0a0;
  border-radius: 3px;
  /* Sombra com deslocamento horizontal de 2px, deslocamento vertical de 2px, raio de 5px e 50% de transparência */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.output {
  background-color: #ffe6e6;
  border-color: #ff6666;
}

.icon {
  border-radius: 50%;
  font-size: 28px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
}

.input {
  color: #66ff66;
  background-color: #e6ffe6;
}

.output {
  color: #ff6666;
  background-color: #ffe6e6;
}

.description {
  margin-left: 12px;
}

.badge {
  padding: 5px 10px;
  color: black;
  background-color: #f2f2f2;
  border-radius: 3px;
  height: fit-content;
}
