.entry {
  // margin-top: 5px;
  // margin-right: 12px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;

  &:hover {
    border: 1px solid #a3a0a0;
    transform: translate3d(3px, 3px, 3px);
  }
  .icon {
    border-radius: 50%;
    font-size: 28px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
  }
  .input {
    color: #49be49;
    background-color: #e6ffe6;
  }

  .output {
    color: #ff6666;
    background-color: #ffe6e6;
  }
  .description {
    margin-left: 12px;
  }

  // TODO: review
  .badge {
    padding: 5px 10px;
    color: black;
    background-color: #ebe081;
    border-radius: 3px;
    height: fit-content;
    margin-left: 4px;
    font-size: 10px;
  }

  .settled {
    font-size: 12px;
    color: #49be49;
  }

  .unsettled {
    font-size: 12px;
    color: #ff6666;
  }

  .date {
    font-size: 12px;
    color: #686868;
  }

  .type {
    font-size: 12px;
    color: #686868;
  }

  .settled-icon {
    font-size: 12px;
    margin-right: 3px;
  }
}
