<div class="container-fluid g-0">
  <!-- Header -->
  <app-header (sideNavToggled)="sideNavCollapsed = $event"></app-header>
  <!-- Main -->
  <main>
    <!-- Side Nav -->
    <app-side-nav
      [sideNavCollapsed]="sideNavCollapsed"
      [ngClass]="{ 'app-side-nav-open': sideNavCollapsed }"
    ></app-side-nav>
    <!-- Main Display area -->
    <div
      class="display-area p-3"
      [ngClass]="{ 'display-area-shrink': sideNavCollapsed }"
    >
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
