<div class="container-fluid g-0">
  <!-- Header -->
  <header>
    <app-header (sideNavToggled)="sideNavCollapsed = $event"></app-header>
  </header>

  <section class="d-flex">
    <!-- Side Nav -->
    <app-side-nav [sideNavCollapsed]="sideNavCollapsed"></app-side-nav>

    <section class="flex-grow-1 d-flex align-items-start flex-column m-3">
      <!-- Breadcrumbs -->
      <app-breadcrumbs></app-breadcrumbs>

      <!-- Content -->
      <main>
        <router-outlet></router-outlet>
      </main>

      <!-- Footer -->
      <footer class="mt-auto">
        <app-footer></app-footer>
      </footer>
    </section>
  </section>
</div>
