// /* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap');
@import url('../node_modules/bootstrap/dist/css/bootstrap.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto';
}
